*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#edf2f7;
}

.app{
    display:flex;
    flex-direction:row;
    height:100vh;
}


.sidebar{
    background:#112b4a;
    color:white;
    width:250px;
}

.logo{
    margin-bottom:40px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.logo img{
    width:90%;
    height:auto;
}

.sidebar nav{
    display:flex;
    flex-direction:column;
    gap:10px;
}


.sidebar a{
    display:flex;
    padding:14px;
    border-radius:8px;
    cursor:pointer;
    align-items:center;
    gap:10px;
}

.sidebar a.active{
    background:#21446d;
}

.sidebar a:hover{
    background:#21446d;
}

.content{
    display:flex;
    flex-direction:column;
    width:100%;
    flex:1;
}



header{
    display:flex;

    justify-content:space-between;
    align-items:center;
    padding:20px 0;
    width:100%;
    background:#112b4a;
    color:white;
}

.top-right{
    display:flex;
    gap:20px;
    padding-right:30px;
    align-items:center;
}



.icon-btn{
    width:38px;
    height:38px;

    border:none;
    border-radius:50%;

    background:rgba(255,255,255,.08);

    color:white;
    font-size:18px;

    cursor:pointer;

    transition:.2s;
}

.icon-btn:hover{
    background:rgba(255,255,255,.18);
}

.user{
    display:flex;
    align-items:center;
    gap:12px;
}

.avatar{
    width:42px;
    height:42px;

    border-radius:50%;

    background:#2d6cdf;

    display:flex;
    justify-content:center;
    align-items:center;

    font-weight:bold;
}

.user-info{
    display:flex;
    flex-direction:column;
}

.name{
    font-size:14px;
    font-weight:600;
}

.role{
    font-size:12px;
    color:#b8c5d8;
}


.dashboard{
    padding:25px;
    display:flex;
    flex-direction:column;
    gap:22px;
    background:#edf2f7;
    flex:1;
    overflow:auto;
}

.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:18px;
}

.card{
    background:white;
    border-radius:14px;
    padding:22px;
    box-shadow:0 3px 10px rgba(0, 0, 0, 0.65);
    
}

.card-title{
    color:#6b7280;
    font-size:14px;
}

.card h2{
    margin:15px 0 8px;
    font-size:34px;
    color:#10294b;
}

.card small{
    color:#4caf50;
}

.row{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.bottom-grid{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:20px;
}

.panel{
    background:white;
    border-radius:14px;
    padding:20px;
    box-shadow:0 4px 12px rgba(0,0,0,.08);
}

.panel-header{
    margin-bottom:20px;
}

.chart-placeholder{
    height:260px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.donut-circle{
    width:170px;
    height:170px;
    border-radius:50%;
    border:24px solid #2f80ed;
    border-top-color:#6fcf97;
    border-right-color:#f2c94c;
    border-left-color:#eb5757;
}

.bars{
    display:flex;
    align-items:flex-end;
    justify-content:space-evenly;
}

.bar{
    width:45px;
    background:#2f80ed;
    border-radius:8px 8px 0 0;
}

.b1{height:70px;}
.b2{height:150px;}
.b3{height:110px;}
.b4{height:200px;}
.b5{height:130px;}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    text-align:left;
    padding:14px;
    background:#f7f9fc;
}

td{
    padding:14px;
    border-bottom:1px solid #ececec;
}

.alert{
    padding:14px;
    border-radius:10px;
    margin-bottom:15px;
    font-size:14px;
}

.warning{
    background:#fff7d6;
}

.danger{
    background:#ffe4e4;
}

.success{
    background:#e3f8ea;
}